CONFIG PART=xc3s250e-VQ100-4;
NET "ANODES[3]" IOSTANDARD=LVTTL | LOC="P18";
NET "CATHODES[7]" IOSTANDARD=LVTTL | LOC="P23";
NET "ANODES[2]" IOSTANDARD=LVTTL | LOC="P26";
NET "CATHODES[4]" IOSTANDARD=LVTTL | LOC="P33";
NET "CATHODES[5]" IOSTANDARD=LVTTL | LOC="P35";
NET "CATHODES[2]" IOSTANDARD=LVTTL | LOC="P40";
NET "CATHODES[3]" IOSTANDARD=LVTTL | LOC="P53";
NET "CATHODES[0]" IOSTANDARD=LVTTL | LOC="P57";
NET "ANODES[1]" IOSTANDARD=LVTTL | LOC="P60";
NET "CATHODES[6]" IOSTANDARD=LVTTL | LOC="P62";
NET "CATHODES[1]" IOSTANDARD=LVTTL | LOC="P65";
NET "ANODES[0]" IOSTANDARD=LVTTL | LOC="P67";
NET CLKIN LOC="P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns ;
