CONFIG PART=xc6slx9-TQG144-2;
NET "CLKIN" IOSTANDARD=LVTTL | LOC="P94";
NET "ANODES[0]" IOSTANDARD=LVTTL | LOC="P85";
NET "CATHODES[1]" IOSTANDARD=LVTTL | LOC="P83";
NET "CATHODES[6]" IOSTANDARD=LVTTL | LOC="P81";
NET "ANODES[1]" IOSTANDARD=LVTTL | LOC="P79";
NET "CATHODES[0]" IOSTANDARD=LVTTL | LOC="P75";
NET "CATHODES[3]" IOSTANDARD=LVTTL | LOC="P67";
NET "CATHODES[2]" IOSTANDARD=LVTTL | LOC="P66";
NET "CATHODES[5]" IOSTANDARD=LVTTL | LOC="P61";
NET "CATHODES[4]" IOSTANDARD=LVTTL | LOC="P58";
NET "ANODES[2]" IOSTANDARD=LVTTL | LOC="P56";
NET "CATHODES[7]" IOSTANDARD=LVTTL | LOC="P51";
NET "ANODES[3]" IOSTANDARD=LVTTL | LOC="P48";
