CONFIG PART=xc6slx9-TQG144-2;
NET "LED[4]" IOSTANDARD=LVTTL | LOC="P131";
NET "LED[3]" IOSTANDARD=LVTTL | LOC="P127";
NET "LED[2]" IOSTANDARD=LVTTL | LOC="P126";
NET "LED[1]" IOSTANDARD=LVTTL | LOC="P124";
NET "LED[0]" IOSTANDARD=LVTTL | LOC="P123";
NET "RIGHT" IOSTANDARD=LVTTL | LOC="P59";
NET "LEFT" IOSTANDARD=LVTTL | LOC="P57";
NET "DOWN" IOSTANDARD=LVTTL | LOC="P55";
NET "UP" IOSTANDARD=LVTTL | LOC="P50";
NET "SELECT" IOSTANDARD=LVTTL | LOC="P47";
