CONFIG PART=xc6slx9-TQG144-2;
NET "LED1" IOSTANDARD=LVTTL | LOC="P124";
NET "LED0" IOSTANDARD=LVTTL | LOC="P123";
NET "SWITCH1" IOSTANDARD=LVTTL | LOC="P115";
NET "SWITCH0" IOSTANDARD=LVTTL | LOC="P114";
